@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni&display=swap');
#nav{
    height:250px;
    font-family: 'Libre Bodoni', serif;
    border-bottom: 10px solid #C0C0C0;
    border-style: double;
}


body{
    font-family: 'Libre Bodoni', serif;

}

#mapa{
    margin-top:100px;
    margin-left: 300px;
}
#ubi h1{
    color:white;
    text-align:center;
    font-family: 'Libre Bodoni', serif;
    font-size: 60px;
    background-color:black;
    height:100px;
    padding-top:10px;
}

#footer{
    background-color:black;
    color: white;
    text-align:center;
    font-family: 'Libre Bodoni', serif;
    border-top: 10px solid #C0C0C0;
    border-style: double;

}
#footer img{
    width:200px;
    height: 200px;

}

.card{
    margin-top:30px;
    margin-left:450px;
    color:white;
    text-align:center;
    
}
.card-body{
    border:2px solid #bf930d;
    background-color:rgb(53, 51, 51);
}
#ubi{
    height:600px;
    font-family: 'Libre Bodoni', serif;
    margin-top:30px;
}


body {
    background-image:url(fondos/bodyfondo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#Destacados h1{
    color:white;
    text-align:center;
    font-family: 'Libre Bodoni', serif;
    font-size: 60px;
    background-color:black;
    height:100px;
    padding-top:10px;

} 
#Destacados {
    margin-top:30px;
}
#carouselExampleIndicators{
    height:650px;
}
.nav-item a{
    color:white;
    font-size:20px;
    font-family: 'Libre Bodoni', serif;

}
.container-fluid{
    background-color: black;
}
#opciones li a:hover  {
    color:black;
    font-size: 20px;


}
#menudearriba{
    width:600px;
    height:50px;
    border:3px solid #C0C0C0;
    border-style: double;
    margin-top: 5px;
    margin-left: 300px;
    

}
#menudearriba a {
    text-decoration: none;
    display: inline-block;
    color:white;
    font-size:18px;
}
#menudearriba a:hover{
    background-color:#C0C0C0;
    color:black;
}
#homenav{
    margin-left: 25px;
}


@media (max-width:414px) {
    .card{
        margin-left:65px;
    }
    #mapa{
        margin-left: 60px;
        width:300px;
        height:300px;
    }
    #nav{
        height:400px;
    }
    
    .container-fluid{
        margin-left: 0px;
        height:50px;
        width:380px;


    }
    #menudearriba{
        width:150px;
        height:190px;
        border:3px solid #C0C0C0;
        margin-top: 20px;
        margin-left: 120px;
        text-align:center;
        
    
    }
    #menudearriba a {
        text-decoration: none;
        color:white;
        font-size:15px;
        text-align:center;
    }
    #homenav{
        margin-left: 0px;
    }

}