@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni&display=swap');
#nav{
    height:150px;
    font-family: 'Libre Bodoni', serif;
    border-bottom: 10px solid #C0C0C0;
    border-style: double;
}


body{
    font-family: 'Libre Bodoni', serif;

}
#botonmenu{
    margin-left: 650px;
    width: 60px;
    height: 60px;
    background-color: black;

    border: 1px solid white;
}


#mapa{
    margin-top:100px;
    margin-left: 300px;
}
#ubi h1{
    color:white;
    text-align:center;
    font-family: 'Libre Bodoni', serif;
    font-size: 60px;
    background-color:black;
    height:100px;
    padding-top:10px;
}

#footer{
    background-color:black;
    color: white;
    text-align:center;
    font-family: 'Libre Bodoni', serif;
    border-top: 10px solid #C0C0C0;
    border-style: double;

}
#footer img{
    width:200px;
    height: 200px;

}

.card{
    margin-top:30px;
    margin-left:450px;
    color:white;
    text-align:center;
    
}
.card-body{
    border:2px solid #bf930d;
    background-color:rgb(53, 51, 51);
}
#ubi{
    height:600px;
    font-family: 'Libre Bodoni', serif;
    margin-top:30px;
}


body {
    background-image:url(fondos/bodyfondo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#Destacados h1{
    color:white;
    text-align:center;
    font-family: 'Libre Bodoni', serif;
    font-size: 60px;
    background-color:black;
    height:100px;
    padding-top:10px;

} 
#Destacados {
    margin-top:30px;
}
#carouselExampleIndicators{
    height:650px;
}
.nav-item a{
    color:white;
    font-size:20px;
    font-family: 'Libre Bodoni', serif;

}
.container-fluid{
    background-color: black;
}
#opciones li a:hover  {
    color:black;
    font-size: 20px;


}
#menudearriba{
    width:600px;
    height:50px;
    border:3px solid #C0C0C0;
    border-style: double;
    margin-top: 5px;
    margin-left: 300px;
    

}
#menudearriba li{
    display: inline-block;
}
#menudearriba a {
    text-decoration: none;
    color:white;
    font-size:18px;
}
#menudearriba a:hover{
    background-color:#C0C0C0;
    color:black;
}
#homenav{
    margin-left: 25px;
}

#opc li{
    display:inline-block;
    margin-left:30px;

   
}
#opc li a {
    text-decoration: none;
    color:white;
    font-size:15px;
    font-family: 'Libre Bodoni', serif;
}
#opc li a:hover{
    background-color:#C0C0C0;
    color:black;

}
#opc{
    margin-left: 225px;
    border-left: 2px white solid;
    border-right: 2px white solid;
    border-bottom: 2px solid white;
    width:570px;
}

#marcas:hover ul{
    display:block;
    position: absolute;
    text-align: left;
    padding: 0px;
    margin: 0px;
    background-color:rgb(0, 0, 0)
}

#marcas ul li a{
    color: rgb(255, 254, 254);
}

#marcas ul li{
    display:block;
    padding: 0px ;
}


@media (max-width:414px) {
    #dropdown{
        font-size:12px;
    }
    #menutodos{
        margin-left:0px;
        margin-top: 30px;;
    }
    #menutodos tr td button{
        width:85px;
    }
    #menutodos tr td button a{
        font-size: 12px;;
    }
    #botonmenu{
        margin-left:20px;
    }
    .card{
        margin-left:65px;
    }
    #mapa{
        margin-left: 60px;
        width:300px;
        height:300px;
    }
    #nav{
        height:150px;
    }
    
    .container-fluid{
        margin-left: 0px;
        height:50px;
        width:380px;


    }
    #menudearriba{
        width:300px;
        height:100px;
        border:3px solid #C0C0C0;
        margin-top: 20px;
        margin-left: 50px;
        text-align:center;
        padding: 0px ;
    }
    #menudearriba li{
       text-align: center;
    }
    #menudearriba a {
        text-decoration: none;
        color:white;
        font-size:15px;
        text-align:center;
    }
    #homenav{
        margin-left: 0px;
    }

    #opc{
        margin-left: 30px;
        margin-top: 250px;
        border-left: 2px white solid;
        border-right: 2px white solid;
        border-bottom: 2px solid white;
        width:350px;
    }
    #Destacados h1{
       
        font-size:45px;
        padding-top:20px;
    }


}